@import './icon/font_3870129_pt9fwbvcron/iconfont.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
h1{
    font-size: 0;
    
}
textarea {
    outline: none;
}

body {
    background-color: rgb(235, 235, 235);
    height: 100%;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

header {
    width: 90vw;
    height: 12vh;
    margin: 3vh auto;
    margin-top: 1vh;
    border-radius: 10px;
    background-color: #42b883;
    /* background-color: #64b688bb; */
    text-align: center;
    line-height: 12vh;
    color: white;
    font-size: 40px;
    user-select: none;
    transition: font-size .3s;
}

.addTargetBox {
    width: 80vw;
    max-width: 500px;
    height: 70vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    overflow: auto;
    border-radius: 50px;
    /* border-top-left-radius: 0; */
    transition: .3s;
    /* box-shadow: 0 3px 5px 1px black; */
    /* filter: blur(5px); */

}

/* 添加界面開始 */

.addTargetBox div {
    width: 80%;

    /* height: 64vh; */
    /* background-color: pink; */

    transition: all .3s;
    margin: 5vh auto;
    padding: 10px;
    overflow: auto;
    /* filter: blur(20px) */
}

.addTarget h2,
h3 {
    /* color: #7b8795; */
    color: #39485c;
    user-select: none;
}

.addTarget div {
    background-color: #9ed5cf;
    line-height: 6vh;
    text-align: center;
    margin: 30px auto;
    border: 2px solid #52ab9f;

    border-radius: 10px;
}

.addTarget .targetType {
    background-color: #F2CDAC;
    border: 2px solid #D8B08C;
}

.addTarget .targetType select {
    border: none;
    background-color: #F2CDAC;
    width: 100%;
}

.addTarget div input,
.addTarget div select {
    height: 5vh;
    width: 70%;
    outline: none;
    padding: 0 2em;
    text-align: center;
    /* border: 1.5px solid #7b8795; */
    border: 1.5px solid #7b8795;
    border-radius: 5px;
}

.addTarget .submitBox{
    width: 40%;
    background-color: #ecf5ff;
    border-color: #a0cfff;
    color: #409eff;
    cursor: pointer;
    margin-top: 60px;
    line-height: 3vh;
}
.addTarget .submitBox:hover{
    color: #ffffff;
    background-color: #409eff;
    border-color: #409eff;
    
}

.addTarget .addExitBox {
    width: 40%;
    cursor: pointer;
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f3d19e;
    line-height: 3vh;
}
.addTarget .addExitBox:hover{
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}

.submitBox button, .addExitBox button {
    width: 100%;
    height: 6vh;
    margin: 0 auto;
    /* background-color: #9ed5cf; */
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

/* .addTarget div select{
    width: 70%;
    height: 5vh;
    text-align: center;
} */

/* 添加界面結束 */





/* 左下角選單開始 */
.options {
    position: fixed;
    display: flex;
    left: 1vw;
    bottom: 1vw;
    


    border-radius: 50px;
    gap: 1vw;
}

.optionList {
    display: flex;
    width: 0;
    overflow: hidden;
    gap: .5vw;
    transition: .3s;

    /* background-color: pink; */
}

.options .xuanxiangBox {
    /* box-shadow: 0 0 0 2px black; */
    /* background-color: #666; */
    width: 0;
    height: 0;
}

.optionBox {
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.707);
    transition: .3s;
    transform: rotate(0deg);
}

.optionBox:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 2px black;
}

.optionsBoxFocus {
    background-color: #95d475;
}

/* 左下角選單結束 */




/* 內容區域盒子 */

/* 沒有內容的提示 */
.noContent {
    width: 100%;
    height: 100%;
    min-height: 100px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.contentBox {
    width: 90%;
    max-width: 700px;
    max-height: 70vh;
    min-height: 100px;
    /* overflow: scroll; */
    border-radius: 10px;
    float: none;
    margin: auto;
    /* overflow: auto; */
    box-shadow: 0 3px 5px 1px #666;
    background-color: rgb(245, 245, 245);
    /* padding: 10px; */
    transition: .3s;
    /* filter: blur(0px); */

}

.contentList {
    width: 100%;
    /* height: inherit; */
    max-height: 70vh;
    overflow: overlay;
    /* user-select: none; */
    padding: 5px;
}

.contentItem {
    margin: 3vh auto;
    width: 95%;
    /* height: 4vh; */
    /* background-color: pink; */
    position: relative;
    display: flex;
    /* flex: 1; */
    transition: .3s;
    box-shadow: 0 1px 4px 0px #999;
    padding: 2px;
    overflow: auto;
    /* border-bottom: 1px solid #000; */
    animation: appear 1s;
    background-color: #fff;
    border-radius: 5px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contentList .leaveMove{
    animation: leaveMove 1s;
}
@keyframes leaveMove {
    0%{
        opacity: 1;
        /* width: 100px; */
        transform: translateX(0);
    }

    100%{
        /* width: 2000px; */
        opacity: 0;
        transform: translateX(-100vw);
    }
}

.targetText {
    width: 97%;
    padding: 20px 10px;
    /* border-right: 2px solid #999; */

    text-indent: 2em;
}

.targetText .date {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    text-indent: 0;
    color: #999;
}

/* 完成/刪除 選項 */
.icon-icon{
    font-size: 20px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    transition: .3s;
    color: #999;
}
.icon-icon:hover{
    color: #333;
}

.targetOptions {
    width: 25%;
    padding: 10px;
    height: 100%;

}


.successTarget{
    animation: appear 1s;
    background-color: #b3e19d;
    /* color: white; */
    
}
.successTarget .text{
    font-size: 900;
    text-shadow: 1px 1px #fff;
}






/* 完成/刪除選項樣式 開始 */
.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.DoneOrCancelBox {
    position: fixed;
    width: 30vw;
    min-width: 300px;
    height: 20vw;
    min-height: 120px;
    max-height: 180px;

    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.36);
    background-color: #ffffff;
    ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    border-top-right-radius: 10px;

    animation: appear .3s;
}

.DoneOrCancelBox div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    /* color: #fff; */
    width: 30%;
    height: 25%;
    cursor: pointer;
    transition: .2s;
}

.icon-quxiao1 {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: .1s;
}

.icon-quxiao1:hover {
    font-weight: 700;
    font-size: 18px;
}

.doneKey {
    color: #67c23a;
    background-color: #f0f9eb;
    border: 2px solid #b3e19d;

    cursor: pointer;
}

.doneKey:hover {
    background-color: #67c23a;
    color: #ffffff;
    border-color: #67c23a;

}


.contentItem .costTime{
    position: absolute;
    bottom: 1px;
    right: 100px;
    font-size: 14px;
    text-indent: 0;
    color: #999;
    text-shadow: 0.5px 0.5px #fff;
}
.icon-wancheng1{
    font-size: 50px;
    transition: .3s;
}

.icon-wancheng {
    font-size: 20px;
    font-weight: 900;
    margin-right: 5px;
}

.deleteKey {
    color: #f56c6c;
    background-color: #fde2e2;
    border: 2px solid #fab6b6;
}

.deleteKey:hover {
    background-color: #f56c6c;
    color: #fff;
}

.icon-quxiao {
    margin-right: 5px;
}

/* 完成/刪除選項樣式 結束 */

/* .targetText-border{
    content: ' ';
    width: 100px;
    height: 100px;
    display: inline-block;
    border-right: 2px solid #999;
    position: absolute;
    right: 0;
    top: 0;



    background-color: pink;
} */




@media screen and (max-width:265px){
    header{
        font-size: 20px;
    }
    *{
        /* font-size: 10px; */
    }
    .contentItem{
        /* height: 100px; */
    }
    .costTime{
        /* font-size: 6px; */
        display: none;
    }
    .date{
        display: none;
    }
    .icon-wancheng1{
        font-size: 30px;
    }
}

@media screen and (max-height:320px){
    header{
        font-size: 20px;
    }
}
